---
layout: default
title: Archive
---

        <h1 class="content-subhead">Archive</h1>
        <p>Total posts: {{ site.posts.size }}</p>

        <div class="content-height-stretch">
      {% for post in site.posts %}
        {% if post.next == nil %}
            <h2 class="post-title">{{ post.date | date: '%Y' }}</h2>
            <ul class="posts-link-list">
        {% else %}
          {% assign year = post.date | date: '%Y' %}
          {% assign next_year = post.next.date | date: '%Y' %}
          {% if year != next_year %}
            </ul>
            <h2 class="post-title">{{ year }}</h2>
            <ul class="posts-link-list">
          {% endif %}
        {% endif %}
                <li>
                    <span class="monospace">{{ post.date | date: "%m-%d" }}</span>
                    <a href="{{ post.url }}">{{ post.slug }}</a>
                </li>
          {% if post.previous == nil %}
            </ul>
          {% endif %}
      {% endfor %}
        </div>
