---
layout: default
---

        <h1 class="content-subhead">Recent posts</h1>
        <p>Total posts: {{ paginator.total_posts }}</p>
          {% for post in paginator.posts %}
            <section class="entries">
                <header>
                    <h2 class="post-title">
                        <a href="{{ post.url }}">{{ post.slug }}</a>
                    </h2>
                </header>
                <p class="post-meta">
                    {{ post.date | date: "%Y-%m-%d" }}
                  {% for tag_name in post.tags %}
                    {% include tag.html name=tag_name %}
                  {% endfor %}
                </p>
                <div class="post-description">
                    <p>{{ post.excerpt | strip_html }} ...</p>
                </div>
            </section>
          {% endfor %}
        <div class="paginator">
          {% if paginator.previous_page != nil %}
            <a href="{{ paginator.previous_page_path }}" class="pure-button pure-button-primary" style="width: 6em;">&lt;- Prev</a>
          {% else %}
            <a href="javascript:;" class="pure-button pure-button-disabled" style="width: 6em;">&lt;- Prev</a>
          {% endif %}
            <p>Page {{ paginator.page }}/{{ paginator.total_pages }}</p>
          {% if paginator.next_page != nil %}
            <a href="{{ paginator.next_page_path }}" class="pure-button pure-button-primary" style="width: 6em;">Next -&gt;</a>
          {% else %}
            <a href="javascript:;" class="pure-button pure-button-disabled" style="width: 6em;">Next -&gt;</a>
          {% endif %}
        </div>
