---
layout: default
title: Pzqqt's Blog
---

        <div class="posts">
            <h1 class="content-subhead">Recent posts</h1>
            <p>Total posts: {{ paginator.total_posts }}</p>
              {% for post in paginator.posts %}
                <section class="entries">
                    <header>
                        <h2 class="entries-title">
                            <a href="{{ post.url }}">{{ post.slug }}</a>
                        </h2>
                        <p class="post-meta">
                        {{ post.date | date: "%Y-%m-%d" }}
                      {% for tag_name in post.tags %}
                        {% include tag.html name=tag_name %}
                      {% endfor %}
                        </p>
                    </header>
                    <div class="post-description">
                        <p>{{ post.excerpt | strip_html }} ...</p>
                    </div>
                </section>
              {% endfor %}
            <div class="pure-g">
                <div class="pure-u-2-5">
                  {% if paginator.previous_page != nil %}
                    <a href="{{ paginator.previous_page_path }}" class="pure-button pure-button-primary" style="float: right; margin-top: 0.5em;">&lt;- Previous</a>
                  {% endif %}
                </div>
                <div class="pure-u-1-5">
                    <p style="text-align: center;">Page {{ paginator.page }}/{{ paginator.total_pages }}</p>
                </div>
                <div class="pure-u-2-5">
                  {% if paginator.next_page != nil %}
                    <a href="{{ paginator.next_page_path }}" class="pure-button pure-button-primary" style="float: left; margin-top: 0.5em;">Next -&gt;</a>
                  {% endif %}
                </div>
            </div>
        </div>
