{% if include.name == "Python" %}
  {% assign tag_class = "post-category-blue" %}
{% elsif include.name == "Android" %}
  {% assign tag_class = "post-category-green" %}
{% elsif include.name == "Web" %}
  {% assign tag_class = "post-category-red" %}
{% elsif include.name == "Unused" %}
  {% assign tag_class = "post-category-purple" %}
{% else %}
  {% assign tag_class = "" %}
{% endif %}
<a href="/tags#tag_{{ include.name }}" class="post-category {{ tag_class }}">{{ include.text | default:include.name }}</a>
