/* Night mode */
body {
    background-color: #333333;
}
.content,.post-title,.post-description {
    color: #dddddd;
}
.content-subhead {
    color: #aaaaaa;
    border-bottom: 1px solid #777777;
}
.entries {
    background: #44444477;
    border-left: 10px solid #777777bb;
}
.pure-menu-link:hover {
    background-color: #444444;
}
code {
    color: #77c1fb;
    background-color: #444444;
}
blockquote {
    color: #999999;
    border-left: 4px solid #666666;
}
a {
    color: rgb(69 164 225);
}
a.heading-anchor {
    color: #555555;
    text-decoration: none;
}
#post-toc .post-toc-box {
    background: #66666677;
}
::-webkit-scrollbar-track {
    background: #555555;
}
