/* Night mode */
.content {
    background-color: #333333;
    color: #dddddd;
}
.entries {
    background: #444444;
}
.post-title,.post-description {
    color: #dddddd;
}
.pure-menu-link:hover {
    background-color: #444444;
}
code {
    color: #77c1fb;
    background-color: #444444;
}
blockquote {
    color: #999999;
    border-left: 4px solid #666666;
}
a.heading-anchor-night {
    color: #555555;
    text-decoration:none;
}
