<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to Pzqqt's Blog.">
    <meta name="theme-color" content="#3d4f5d">
    <title>{% if page.slug %}{{ page.slug }} - {% elsif page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" /> 
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="stylesheet" type="text/css" href="/static/blog.css">
    <link rel="stylesheet" type="text/css" href="/static/colorful.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <script src="/static/js.cookie-3.0.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>
function toggle_night_css(enable) {
    let custom_night_css_href = "/static/custom-night.css";
    if (enable === "true") {
        $('head > link[href="/static/custom.css"]').after(
            $('<link rel="stylesheet" type="text/css" href="' + custom_night_css_href + '">')
        );
    } else {
        $('head > link[href="' + custom_night_css_href + '"]').remove();
    }
}
function apply_night_mode() {
    if (Cookies.get("ui_night_mode") === "true") {
        $('#night_toggle').html('<i class="ri-sun-fill"></i>').attr("title", "Light mode");
        toggle_night_css("true");
    } else {
        $('#night_toggle').html('<i class="ri-moon-line"></i>').attr("title", "Night mode");
        toggle_night_css();
    }
}
$(document).ready(function() {
    let totop_element = $('#totop');

    $(window).scroll(function() {
        $(window).scrollTop() > 200 ? totop_element.fadeIn() : totop_element.fadeOut();
    });

    totop_element.click(function(e) {
        $('html, body').animate( { scrollTop: 0 }, 300 );
        return false;
    });

    $('#night_toggle').click(function() {
        Cookies.set("ui_night_mode", Cookies.get("ui_night_mode") !== "true");
        apply_night_mode();
    });
});
    </script>
</head>

<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <div style="margin-bottom: 0.8em;">
                <a href="/">
                    <img width="96" height="96" style="border-radius: 50%;" src="/static/logo.png">
                </a>
            </div>
            <h1 class="brand-title"><a href="/" style="color: #ffffff; text-decoration:none;">Pzqqt's Blog</a></h1>
            <h2 class="brand-tagline">Welcome to Pzqqt's Blog</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/archive">Archive</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/tags">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="https://github.com/Pzqqt" target="_blank">Github</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">

        {{ content }}

        <div class="footer">
            <div class="pure-menu pure-menu-horizontal">
                <p class="footer-text" id="motto"></p>
                <p class="footer-text" style="margin-top: 3em; margin-bottom: 0.5em;">Copyright © 2023 &nbsp;<a href="/" style="font-size: 100%;">Pzqqt's Blog</a>&nbsp;</p>
                <div class="pure-menu-link">Powered By</div>
                <div class="pure-menu-item"><a href="https://purecss.io/" class="pure-menu-link" target="_blank">Pure.css</a></div>
                <div class="pure-menu-item"><a href="https://pages.github.com/" class="pure-menu-link" target="_blank">GitHub Pages</a></div>
                <div class="pure-menu-item"><a href="https://jekyllrb.com/" class="pure-menu-link" target="_blank">Jekyll</a></div>
            </div>
        </div>
    </div>
</div>

<script src="/static/mottos.js"></script>

<button id="night_toggle" class="pure-button pure-button-primary" title="Night mode"><i class="ri-moon-line"></i></button>

<button id="totop" class="pure-button pure-button-primary" title="To top"><i class="ri-arrow-up-line"></i></button>

</body>

<script>Cookies.get("ui_night_mode") === "true" && apply_night_mode();</script>

</html>
