---
layout: default
---

        <h1 class="content-subhead">{{ page.slug }}</h1>
        <section class="post">
            <header>
                <h2 class="post-title">{{ page.slug }}</h2>
                <p class="post-meta">
                {{ page.date | date: "%Y-%m-%d" }}
              {% for tag_name in page.tags %}
                {% include tag.html name=tag_name %}
              {% endfor %}
                </p>
            </header>
            <div class="post-description content-height-stretch">
              {% if page.toc == true %}
                {% include toc.html html=content %}
                <hr>
                {% include anchor_headings.html html=content anchorBody="#" anchorClass="heading-anchor" %}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
        </section>
        <script src="/static/pre_copy.js"></script>
