---
layout: default
---

        <h1 class="content-subhead">{{ page.slug }}</h1>
        <section class="post">
            <header>
                <h2 class="post-title">{{ page.slug }}</h2>
                <p class="post-meta">
                {{ page.date | date: "%Y-%m-%d" }}
              {% for tag_name in page.tags %}
                {% include tag.html name=tag_name %}
              {% endfor %}
                </p>
            </header>
            <div class="post-description content-height-stretch">
              {% if page.toc == true %}
                {% include toc.html html=content %}
                <hr>
                {% include anchor_headings.html html=content anchorBody="#" anchorClass="heading-anchor" %}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
        </section>
      {% if page.toc == true %}
        <div id="post-toc">
            <div class="post-toc-box shadow">
                <p><i class="ri-list-view"></i> Table of Contents</p>
                {% include toc.html html=content item_class="post-toc-item" %}
            </div>
        </div>
      {% endif %}

        <script defer src="/static/pre_copy.js"></script>
